@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-color: white;
    background-image: linear-gradient(white, rgb(9, 100, 246));
    overflow: hidden;
    
}

h1{
    margin-bottom: 0;
    text-align: center;
    font-size: 7rem;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    text-shadow: 0 -5px 5px rgb(49, 125, 255),
    0 -6px 2px rgb(1, 1, 2);
}

#container{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin:  auto;
   
   
    
}

#box{
    width: 500px;
    height: 650px;
    margin: 20px;
    padding: 20px;
    font-family: 'Bebas Neue', cursive;
    border: 3px  solid rgb(11, 11, 11, 0.5);
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 1px 20px rgb(49, 125, 255),
    0 1px 10px rgb(208, 32, 184);
    background-color: black;
}

h2{
    padding: 0;
    margin: 0;
    font-size: 5rem;
    font-weight: 500;
    letter-spacing: 2px;
    color: rgb(254, 254, 255);
    text-shadow:  0 -3px 5px rgb(9, 11, 11),
    0 -6px 1px rgb(253, 253, 253);
    
}

#score{
    padding: 0;
    margin: 0;
    color: white;
    text-shadow:  0 -3px 5px rgb(9, 11, 11),
    0 -6px 1px rgb(253, 253, 253);
    font-size: 5rem;
    
}


img{
    height:340px;
}


#roll>i{
    text-shadow: 0 5px 5px rgb(243, 9, 9),
    0 7px 1px rgb(11, 92, 232);
    font-size: 4rem;

}
#roll:hover{
    cursor: pointer;
   
}






